<!DOCTYPE html>
<html ng-app='ShoppingList'>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="">
    <style> body { font-size: 1.5em; } </style>
    <title>Directive with Events</title>
  </head>
  <body>
    <h3>  Directive with Events </h3>
    <div id="list" ng-controller="ShoppingListController as list">
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="item quantity">
      <button ng-click="list.addItem()">Add Item</button>
      {{ list.lastRemoved }}
      <shopping-list items="list.items" title="{{list.title}}"
        on-remove="list.removeItem(index)">
      </shopping-list>

    </div>
    <loading-spinner></loading-spinner>

    <!-- Libraries -->
    <script src="lib/jquery-3.1.1.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <!-- Modules -->
    <script src="src/spinner/spinner.module.js"></script>
    <script src="src/shoppinglist/shoppinglist.module.js"></script>
    <!-- 'ShoppingList' module artifacts -->
    <script src="src/shoppinglist/shoppinglist.component.js"></script>
    <script src="src/shoppinglist/shoppinglist.controller.js"></script>
    <script src="src/shoppinglist/shoppinglist.factory.js"></script>
    <script src="src/shoppinglist/weightlossfilter.service.js"></script>
    <!-- 'Spinner' module artifacts -->
    <script src="src/spinner/loadspinner.component.js"></script>
  </body>
</html>
